<Header><h1>Nim Game</h1></Header>
<section class="items-wrapper">
  <ul class="row">
    <li
      (click)="handlePlayerClick(0, i)"
      class="item"
      *ngFor="let item of items[0]; let i = index"
    >
      <i class="fas fa-paperclip"></i>
    </li>
  </ul>
  <ul class="row">
    <li
      (click)="handlePlayerClick(1, i)"
      class="item"
      *ngFor="let item of items[1]; let i = index"
    >
      <i class="fas fa-paperclip"></i>
    </li>
  </ul>
  <ul class="row">
    <li
      (click)="handlePlayerClick(2, i)"
      class="item"
      *ngFor="let item of items[2]; let i = index"
    >
      <i class="fas fa-paperclip"></i>
    </li>
  </ul>
  <ul class="row">
    <li
      (click)="handlePlayerClick(3, i)"
      class="item"
      *ngFor="let item of items[3]; let i = index"
    >
      <i class="fas fa-paperclip"></i>
    </li>
  </ul>
</section>
<section class="buttons-wrapper">
  <div class="button">Counter: {{ counter }}</div>
  <div (click)="handleComputerClick()" class="button">Computers Turn</div>
  <div (click)="handleReset()" class="button">Reset</div>
</section>
