.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.items-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  background: steelblue;
  color: white;
  border-radius: 20px;
  padding: 8px 10px;
  font-size: 20px;
  width: 200px;
  text-align: center;

  &.hover {
    cursor: pointer;
  }
  &.hover:hover {
    background: darkorange;
  }
}

.row {
  list-style-type: none;
  font-size: 30px;
  display: grid;
  grid-template: 1fr / repeat(7, 60px);
  margin: 10px 0;
  padding: 0;
  height: 100px;
}

.item {
  padding: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: grey;

  :hover {
    color: darkorange;
  }
}
